<%- include ('partials/header', {username: authUser.name}) -%>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-4">
        <h1 class="display-1">True Legacy Homes Sale Manager</h1>
        <nav aria-label="breadcrumb" class="mt-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/sales ">Sales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sale Detail</li>
          </ol>
      </nav>
        <div class="card shadow-2-strong">
          <div class="card-body text-center" style="background-color: #bfc8da; padding: 3em 1em;">
            <h1 class="display-6">Edit Sale</h1>
            
            
            
            <div class="container mb-3 mt-3">
            <form action="/sales/<%= saleresult.job_id %>?_method=PUT" method="POST" name="inputform" class="inner-outer-container py-4 needs-validation" onSubmit="return validate()" novalidate>
              
            <!-- Row 1 of the form  -->
            <div class="row">
                <div class="col-lg-12 py-2">
                    <div class="row g-2">
                        <div class="col-md">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputGrid" name="jobname" placeholder="" value="<%= saleresult.job_name %>" required>
                            <label for="floatingInputGrid">Job Name</label>
                            <div class="invalid-feedback">
                              Please add a Job Name
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                              
                              <input type="number" class="form-control" id="floatingInputGrid" name="hoursstagingbudget" placeholder="" value="<%= saleresult.hours_staging_budget %>" required>
                              <label for="floatingInputGrid">Hours Staging Budget</label>
                            
                            <div class="invalid-feedback">
                              Please enter a value
                            </div>
                          </div>
                        </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Staging Budget</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 2 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                          <select class="form-select" id="market" name="market" aria-label="Floating label select example" required="">
                            <option></option>
                            
                              <option value="San Diego">San Diego</option>
                            
                              <option value="OC">OC</option>
                            
                              <option value="Los Angeles">Los Angeles</option>
                            
                          </select>

                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="hoursstagingactual" placeholder="" value="<%= saleresult.hours_staging_actual %>" required>
                              <label for="floatingInputGrid">Hours Staging Actual</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" onchange="setTwoNumberDecimal(this)" min="1" step="any" name="minimumbase" placeholder="" value="<%= saleresult.minimum_base %>" required>
                              <label for="floatingInputGrid">Minimum Base</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 3 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                              <select class="form-select" id="floatingSelectGrid" name="services" aria-label="Floating label select example" required>
                                <option selected><%= saleresult.services %></option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <label for="floatingSelectGrid">Services</label>
                              <div class="invalid-feedback">
                                Please select an item from the list
                              </div>
                            </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Staging Actual</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" onchange="setTwoNumberDecimal(this)" min="1" step="any" name="minimumactual" placeholder="" value="<%= saleresult.minimum_actual %>" required>
                              <label for="floatingInputGrid">Minimum Actual</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <!-- Row 4 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                          <div class="form-floating" id="datetimepicker">
                              <input type="date" class="form-control" id="floatingInputGrid" name="saledate" placeholder="" value="<%= saleresult.sale_date %>" required>
                              <label for="floatingInputGrid">Sale Date</label>
                              <span class="glyphicon glyphicon-calendar"></span>
                              <div class="invalid-feedback">
                                Please select a date
                              </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating">
                            <input type="number" class="form-control" id="floatingInputGrid" name="hoursestatesalebudget" placeholder="" value="<%= saleresult.hours_estate_sale_budget %>" required>
                            <label for="floatingInputGrid">Hours Estate Sale Budget</label>
                            <div class="invalid-feedback">
                              Please enter a value
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating">                           
                            <input type="number" class="form-control" id="floatingInputGrid" name="minimumdiscount" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.minimum_discount %>" required>
                            <label for="floatingInputGrid">Minimum Discount</label>
                            <div class="invalid-feedback">
                              Please enter a value
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 5 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" name="cashier" aria-label="Floating label select example" required>
                                  <option selected><%= saleresult.cashier %></option>
                                  <option value="One">One</option>
                                  <option value="Two">Two</option>
                                  <option value="Three">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Cashier</label>
                                <div class="invalid-feedback">
                                  Please select an item from the list
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="hoursestatesaleactual" placeholder="" value="<%= saleresult.hours_estate_sale_actual %>" required>
                              <label for="floatingInputGrid">Hours Estate Sale Actual</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Minimum Base</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 6 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" name="salesperson" aria-label="Floating label select example" required>
                                  <option selected><%= saleresult.salesperson %></option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Salesperson</label>
                                <div class="invalid-feedback">
                                  Please select an item from the list
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Hours Estate Sale Actual</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="disposalfee" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.disposal_fee %>" required placeholder="" value="">
                              <label for="floatingInputGrid">Disposal Fee</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 7 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" name="posid" aria-label="Floating label select example" required>
                                  <option selected><%= saleresult.pos_id %></option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">POS ID</label>
                                <div class="invalid-feedback">
                                  Please select an item from the list
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="grosssalesbudget" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.gross_sales_budget %>" required placeholder="" value="">
                              <label for="floatingInputGrid">Gross Sales Budget</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="disposalloadcount" laceholder="" value="<%= saleresult.disposal_load_count %>" required placeholder="" value="">
                              <label for="floatingInputGrid">Disposal Load Count</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 8 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" name="trailernumber" aria-label="Floating label select example" required>
                                  <option selected><%= saleresult.trailer_num %></option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Trailer #</label>
                                <div class="invalid-feedback">
                                  Please select an item from the list
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="grosssalesactualclover" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.gross_sales_actual_clover %> required placeholder="" value="">
                              <label for="floatingInputGrid">Gross Sales Actual Clover</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="disposalvendorcost" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.disposal_vendor_cost %>" required placeholder="" value="">
                              <label for="floatingInputGrid">Disposal Vendor Cost</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 9 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" name="openingday" aria-label="Floating label select example" required>
                                  <option selected><%= saleresult.opening_day %></option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelectGrid">Opening Day</label>
                                <div class="invalid-feedback">
                                  Please select an item from the list
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales Actual</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Disposal Vendor Cost</label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 10 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="adview" placeholder="" value="<%= saleresult.ad_view %>" required>
                                <label for="floatingInputGrid">Ad View</label>
                                <div class="invalid-feedback">
                                  Please enter a value
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" name="grosssales8to10" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.gross_sales_8to10 %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Gross Sales 8 to 10</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="transactions8to10" placeholder="" required placeholder="" value="<%= saleresult.transactions_8to10 %>" required>
                              <label for="floatingInputGrid">Transaction 8 to 10</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 11 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="emailssent" placeholder="" value="<%= saleresult.emails_sent %>" required>
                                <label for="floatingInputGrid">Emails Sent</label>
                                <div class="invalid-feedback">
                                  Please enter a value
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" name = "grosssalesopeningday" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.gross_sales_opening_day %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Gross Sales Opening Day</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="floatingInputGrid" name = "transactionsopeningday" placeholder="" value="<%= saleresult.transactions_opening_day %>" required>
                              <label for="floatingInputGrid">Transactions Opening Day</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 12 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name = "clientname" placeholder="" value="<%= saleresult.client_name %>" required>
                                <label for="floatingInputGrid">Client Name</label>
                                <div class="invalid-feedback">
                                  Please enter a client name
                                </div>
                              </div>
                          </div>
                        <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                              <label for="floatingInputGrid">Gross Sales 8 to 10</label> -->
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="transactiontotal" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.transactions_total %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Transaction Total</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 13 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md-5">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="clientmailingaddress1" placeholder="" value="<%= saleresult.client_mailing_address1 %>" required>
                                <label for="floatingInputGrid">Client Mailing Address 1</label>
                                <div class="invalid-feedback">
                                  Please enter a value
                                </div>
                              </div>
                          </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="grosssalescreditdebit" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.gross_sales_debit_credit %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Gross Sales Credit/Debit</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="cashoutsideclover" placeholder="" value="" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.cash_outside_clover %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Cash Outside Clover</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 14 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md-5">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="clientmailingaddress2" placeholder="" value="<%= saleresult.client_mailing_address2 %>">
                                <label for="floatingInputGrid">Client Mailing Address 2</label>
                                <div class="invalid-feedback">
                                  Please enter a value
                                </div>
                              </div>
                          </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="grosssalescash" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.gross_sales_cash %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Gross Sales Cash</label>
                              <div class="invalid-feedback" id="invalid-feedback-gross-sales-cash">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" maxlength="2" name="commissionrate" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="<%= saleresult.commission_rate %>" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Commission Rate</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 15 of the form -->
            <div class="row">
                <div class="col-lg-12 py-1">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="clientmailingcity" placeholder="" value="<%= saleresult.client_city %>" required>
                                <label for="floatingInputGrid">Client Mailing City</label>
                                <div class="invalid-feedback">
                                  Please enter a value
                                </div>
                              </div>
                          </div>
                          <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="floatingInputGrid" name="grossprofit" placeholder="" value="<%= saleresult.gross_profit %>" required>
                              <label for="floatingInputGrid">Gross Profit (percent)</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <!-- <input type="number" class="form-control" id="floatingInputGrid" name="commissiontotal" onchange="setTwoNumberDecimal(this)" min="1" step="any" placeholder="" value="" required placeholder="" value="" required>
                              <label for="floatingInputGrid">Commission Total</label>
                              <div class="invalid-feedback">
                                Please enter a value
                              </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 16 of the form -->
            <div class="row">
              <div class="col-lg-12 py-1">
                  <div class="row g-2">
                      <div class="col-md-2">
                        <div class="form-floating">
                          <select class="form-select" id="floatingSelectGrid" name="clientmailingstate" aria-label="Floating label select example" required>
                            <option selected><%= saleresult.client_state %></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                          <label for="floatingSelectGrid">State</label>
                          <div class="invalid-feedback">
                            Please select an item from the list
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating">
                          <input type="number" class="form-control" id="floatingInputGrid" name="zip" placeholder="" value="<%= saleresult.client_postal_code %>" required>
                          <label for="floatingInputGrid">Zip</label>
                          <div class="invalid-feedback">
                            Please enter a valid postal code (no dashes)
                          </div>
                        </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        
                        <div class="col-md-4">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" name="taxesfees" placeholder="" value="<%= saleresult.taxes_fees %>" required>
                            <label for="floatingInputGrid">Taxes Fees</label>
                            <div class="invalid-feedback">
                              Please enter a value
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="submit-container py-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>

<!-- </header> -->

</div>

<div class="container container-actions">
    <div class = "row">
        <div class = "col-lg-12">
            
                
            
        </div>
    </div>
</div>


<%- include ('partials/footer') -%>