<%- include ('partials/header', {username: authUser.name}) -%>

<div class="container">
    <h1><%=title%></h1>
    <a href="/add" class="btn btn-sm btn-primary">Add New User</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %> 
                <tr>
                    <td><%= user.userID %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.email_address %></td>
                    <td><%= user.username %></td>
                    <!-- <td>********</td> -->
                    <td><%= user.password %></td>
                    <td>
                        <a href="edit/<%= user.userID %>" class="btn btn-sm btn-primary">Edit</a>
                        <a href="delete/<%= user.userID %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include ('partials/footer') -%>