<%- include ('partials/header', {username: authUser.name}) -%>

  <div class="container container-header">
    <!-- <header class="jumbotron"> -->
    <div class="container py-5">
      <div class="container heading-container">
        <h1 class="display-1">True Legacy Homes Sale Manager</h1>
          <h1 class="display-6">Sale Reporting Input</h1>
      </div>
          <!-- <div class="btn-toolbar mt-4 mb-4 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-group-lg me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary"><a href="#client-info" style="text-decoration: none; color: inherit;">Client Info</a><p>Incomplete</p></button>
              <button type="button" class="btn btn-outline-secondary"><a href="#sale-setup" style="text-decoration: none; color: inherit;">Sale Setup</a><p>Incomplete</p></button>
              <button type="button" class="btn btn-outline-secondary"><a href="#sale-results" style="text-decoration: none; color: inherit;">Sale Results</a><p>Incomplete</p></button>
              <button type="button" class="btn btn-outline-secondary"><a href="#post-sale" style="text-decoration: none; color: inherit;">Post Setup</a><p>Incomplete</p></button>
            </div>
          </div>
 -->

        <form id="inputform" action="/input1" name="inputform" method="POST" class="inner-outer-container py-4 needs-validation"
            onSubmit="return validate()" novalidate>
          <div class="text-center">
            <!-- CLIENT INFO (SECTION 1 OF 4) -->
            <div class="card-body p-5 text-center" style="background-color: #00bdb0;">
            <!-- Row 1 -->
            <div class="row">
              <div class="col-lg-12 py-2">
                <h4 class="input-section" id="client-info">Client Info</h4>
                <div class="row g-2">
                  <div class="col-lg-4 col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="jobname" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Job Name</label>
                      <div class="invalid-feedback">
                        Please add a Job Name
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-4 col-md-6">
                    <%- include ('partials/dropdown', {
                          options: marketArray.map(m => {
                            return { name: m.market_name, value: m.market_name }
                          }),
                          name: "market",
                          label: "Market"
                    }) -%>
                  </div>


                  <div class="col-lg-4 col-md-6">
                    <%- include ('partials/dropdown', {
                          options: serviceArray.map(m => {
                            return { name: m.services_name, value: m.services_id }
                          }),
                          name: "services",
                          label: "Services"
                    }) -%>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row 2  -->
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-5 col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="clientname" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Client Name</label>
                      <div class="invalid-feedback">
                        Please enter a client name
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-4 col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="clientemail" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Client Email</label>
                      <div class="invalid-feedback">
                        Please enter an email address
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="form-floating" id="datetimepicker">
                      <input type="date" class="form-control form-control-saledate" id="saledate" name="saledate" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Sale Date</label>
                      <span class="glyphicon glyphicon-calendar"></span>
                      <div class="invalid-feedback">
                        Please select a date
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row 3 -->
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-7">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="clientmailingaddress1"
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">Client Mailing Address 1</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="clientmailingaddress2"
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">Client Mailing Address 2</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="clientmailingcity"
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">City</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <%- include ('partials/dropdown', {
                          options: stateArray.map(m => {
                            return { name: m.state_abbreviation, value: m.state_name }
                          }),
                          name: "clientmailingstate",
                          label: "State"
                    }) -%>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="zip" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Zip</label>
                      <div class="invalid-feedback">
                        Please enter a valid postal code (no dashes)
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div> 
            <!-- Row 4 -->
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-5">
                    <div class="form-floating" id="datetimepicker">

                      <input type="text" class="form-control" id="floatingInputGrid" name="checkpayableto"
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">Check Payable To</label>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-floating">

                      <input type="date" class="form-control" id="paymentduedate" name="paymentduedate"
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">Payment Due Date</label>
                      <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <%- include ('partials/dropdown', {
                          options: salespersonArray.map(m => {
                            return { name: m.salesperson_name, value: m.salesperson_id }
                          }),
                          name: "salesperson",
                          label: "Salesperson"
                     }) -%>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row 5 -->
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-4">
                    <div class="form-floating">

                      <input type="number" class="form-control" id="floatingInputGrid" name="hoursstagingbudget"
                        placeholder="" value="0" required>
                      <label for="floatingInputGrid">Hours Staging Budget</label>

                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="hoursestatesalebudget"
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">Hours Estate Sale Budget</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="grosssalesbudget"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                        placeholder="" value="" required>
                      <label for="floatingInputGrid">Gross Sales Budget</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <!-- Row 6 -->
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" name="minimumbase" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Minimum Base</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" name="minimumactual" placeholder=""
                        value="" required>
                      <label for="floatingInputGrid">Minimum Actual</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="minimumdiscount"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" required>
                      <label for="floatingInputGrid">Minimum Discount</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <!-- SALE SETUP (SECTION 2 OF 4) -->
            <div class="card-body p-5 text-center" style="background-color: #285880;">
            <div class="row">
              <div class="col-lg-12 py-1">
                <h4 class="input-section" id="sale-setup">Sale Setup</h4>
                <div class="row g-2">

                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="hoursstagingactual"
                        placeholder="" value="">
                      <label for="floatingInputGrid">Hours Staging Actual</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="hoursestatesaleactual"
                        placeholder="" value="">
                      <label for="floatingInputGrid">Hours Estate Sale Actual</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="grosssalesactualclover"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value=""
                        placeholder="" value="">
                      <label for="floatingInputGrid">Gross Sales Actual Clover</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-2">
                    <%- include ('partials/dropdown', {
                          options: cashierArray.map(m => {
                            return { name: m.cashier_name, value: m.cashier_id }
                          }),
                          name: "cashier",
                          label: "Cashier"
                    }) -%>
                  </div>
                  <div class="col-lg-2">
                    <%- include ('partials/dropdown', {
                          options: openingdayArray.map(m => {
                            return { name: m.opening_day, value: m.opening_day_id }
                          }),
                          name: "openingday",
                          label: "Opening Day"
                    }) -%>
                  </div>
                  <div class="col-lg-2">
                    <%- include ('partials/dropdown', {
                          options: posidArray.map(m => {
                            return { name: m.pos_id, value: m.pos_id_id }
                          }),
                          name: "posid",
                          label: "POS ID"
                    }) -%>
                  </div>
                  <div class="col-lg-2">
                    <%- include ('partials/dropdown', {
                          options: trailernumberArray.map(m => {
                            return { name: m.trailer_number, value: m.trailer_number_id }
                          }),
                          name: "trailernumber",
                          label: "Trailer #"
                    }) -%>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="adview" placeholder=""
                        value="" >
                      <label for="floatingInputGrid">Ad View</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="emailssent" placeholder=""
                        value="" >
                      <label for="floatingInputGrid">Emails Sent</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <!-- SALE RESULTS (SECTION 3 OF 4) -->
            <div class="card-body p-5 text-center" style="background-color: #00bdb0;">
              <div class="row">
                <div class="col-lg-12 py-1">
                  <h4 class="input-section" id="sale-setup">Sale Results</h4>
                  <div class="row g-2">
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" name="transactionsopeningday"
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Transactions Opening Day</label>
                        <div class="invalid-feedback">
                          Please enter a value
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" name="transactions8to10"
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Transactions 8 to 10</label>
                        <div class="invalid-feedback">
                          Please enter a value
                        </div>
                      </div>
                    </div> 
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="floatingInputGrid" name="transactiontotal"
                          onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Transaction Total</label>
                        <div class="invalid-feedback">
                          Please enter a value
                        </div>
                      </div>
                    </div>    
                  </div>
                </div>
              </div>
              
                    

              <div class="row">
                <div class="col-lg-12 py-1">
                  <div class="row g-2">

                    <!-- Row 2 of SALE RESULTS -->
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" name="grosssalesopeningday"
                          onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Gross Sales Opening Day</label>
                        <div class="invalid-feedback">
                          Please enter a value
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" name="grosssales8to10"
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Gross Sales 8 to 10</label>
                        <div class="invalid-feedback">
                          Please enter a value
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="floatingInputGrid" name="grosssalescreditdebit"
                          onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Gross Sales Credit/Debit</label>
                        <div class="invalid-feedback">
                          Please enter a value
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="floatingInputGrid" name="grosssalescash"
                          onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                          placeholder="" value="" >
                        <label for="floatingInputGrid">Gross Sales Cash</label>
                        <div class="invalid-feedback" id="invalid-feedback-gross-sales-cash">
                          Please enter a value
                        </div>
                      </div>
                    </div>
                                       
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-lg-12 py-1">
                <div class="row g-2">
                  <div class="col-lg-3">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" maxlength="2"
                        name="commissionrate" onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder=""
                        value=""  placeholder="" value="" >
                      <label for="floatingInputGrid">Commission Rate</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputGrid" name="taxesfees" placeholder=""
                        value="" >
                      <label for="floatingInputGrid">Taxes Fees</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>               
                </div>

              </div>
            </div>
          </div>

          <!-- POST SALE (SECTION 4 OF 4) -->
          <div class="card-body p-5 text-center" style="background-color: #285880;">
            <div class="row">
              <div class="col-lg-12 py-1">
                <h4 class="input-section" id="sale-setup">Post Sale</h4>
                <div class="row g-2">
                  <div class="col-lg-3 col-md-6">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="disposalfee"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                        placeholder="" value="">
                      <label for="floatingInputGrid">Disposal Fee</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="disposalloadcount"
                        laceholder="" value=""  placeholder="" value="">
                      <label for="floatingInputGrid">Disposal Load Count</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="disposalvendorcost"
                        onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder="" value="" 
                        placeholder="" value="">
                      <label for="floatingInputGrid">Disposal Vendor Cost</label>
                      <div class="invalid-feedback">
                        Please enter a value
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="additionaldonationloancost"
                        placeholder="" value="" onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder=""
                        value="" >
                      <label for="floatingInputGrid">Add'l Donation Loan Cost</label>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" name="courtesydiscount"
                        placeholder="" value="" onchange="setTwoNumberDecimal(this)" min="0" step="any" placeholder=""
                        value="" >
                      <label for="floatingInputGrid">Courtesy Discount</label>
                    </div>
                  </div>              
                </div>

              </div>          
            </div>        
          </div>
    
          <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button> 
       
        </div>        
        </form>
    </div>
  </div>

  <script src="js/section-logic.js"></script>

  <%- include ('partials/footer') -%>
