<%- include('partials/header', {username: authUser.name}) -%>

<div class="container container-header">
  <!-- <header class="jumbotron"> -->
  <div class="container py-5">
    <div class="container heading-container">
      <h1 class="display-1">True Legacy Homes Sale Manager</h1>
      <h1 class="display-6">Sale Reporting Input</h1>
    </div>
    <!-- <div class="btn-toolbar mt-4 mb-4 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-group-lg me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary"><a href="#client-info" style="text-decoration: none; color: inherit;">Client Info</a><p>Incomplete</p></button>
              <button type="button" class="btn btn-outline-secondary"><a href="#sale-setup" style="text-decoration: none; color: inherit;">Sale Setup</a><p>Incomplete</p></button>
              <button type="button" class="btn btn-outline-secondary"><a href="#sale-results" style="text-decoration: none; color: inherit;">Sale Results</a><p>Incomplete</p></button>
              <button type="button" class="btn btn-outline-secondary"><a href="#post-sale" style="text-decoration: none; color: inherit;">Post Setup</a><p>Incomplete</p></button>
            </div>
          </div>
 -->

    <form id="inputForm"
          action="/sale"
          name="inputForm"
          method="POST"
          class="inner-outer-container py-4 needs-validation"
          onSubmit="return validate()"
          novalidate>
      <div class="text-center">
        <!-- CLIENT INFO (SECTION 1 OF 4) -->
        <div class="card-body p-5 text-center"
             style="background-color: #00bdb0;">
          <!-- Row 1 -->
          <div class="row">
            <div class="col-lg-12 py-2">
              <h4 class="input-section"
                  id="client-info">Client Info</h4>
              <div class="row g-2">
                <div class="col-lg-4 col-md-6">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="jobName"
                           name="jobName"
                           placeholder=""
                           value="<%= sale.jobName %>"
                           required>
                    <label for="jobName">Job Name</label>
                    <div class="invalid-feedback">
                      Please add a Job Name
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <%- include ('partials/dropdown', {
                     options: marketArray.map(m=> {
                        return {
                           name: m.market_name,
                           value: m.market_name
                        }
                      }),
                      name: "market",
                      label: "Market",
                      value: sale.market
                      })
                  -%>
                </div>

                <div class="col-lg-4 col-md-6">
                  <%- include ('partials/dropdown', {
                        options: serviceArray.map(m=> {
                          return {
                            name: m.services_name,
                            value: m.services_id
                          }
                      }),
                      name: "services",
                      label: "Services",
                      value: sale.services
                      }) -%>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 2  -->
          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-5 col-md-6">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="clientName"
                           name="clientName"
                           placeholder=""
                           value="<%= sale.clientName %>"
                           required>
                    <label for="clientName">Client Name</label>
                    <div class="invalid-feedback">
                      Please enter a client name
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="clientEmail"
                           name="clientEmail"
                           placeholder=""
                           value="<%= sale.clientEmail %>"
                           required>
                    <label for="clientEmail">Client Email</label>
                    <div class="invalid-feedback">
                      Please enter an email address
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="form-floating"
                       id="dateimepicker">
                    <input type="date"
                           class="form-control form-control-saledate"
                           id="saleDate"
                           name="saleDate"
                           placeholder=""
                           value="<%= sale.saleDate %>"
                           required>
                    <label for="saleDate">Sale Date</label>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <div class="invalid-feedback">
                      Please select a date
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 3 -->
          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-7">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="clientMailingAddress1"
                           name="clientMailingAddress1"
                           placeholder=""
                           value="<%= sale.clientMailingAddress1 %>"
                           required>
                    <label for="clientMailingAddress1">Client Mailing Address
                      1</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="clientMailingAddress2"
                           name="clientMailingAddress2"
                           placeholder=""
                           value="<%= sale.clientMailingAddress2 %>"
                           required>
                    <label for="clientMailingAddress2">
                      Client Mailing Address 2
                    </label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="clientMailingCity"
                           name="clientMailingCity"
                           placeholder=""
                           value="<%= sale.clientMailingCity %>"
                           required>
                    <label for="clientMailingCity">City</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <%- include('partials/dropdown', {
                        options:stateArray.map(m=> {
                          return {
                             name: m.state_abbreviation,
                             value: m.state_name
                           }
                        }),
                        name: "clientMailingState",
                        label: "State",
                        value: sale.clientMailingState
                      }) -%>
                </div>
                <div class="col-lg-2">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="clientPostalCode"
                           name="clientPostalCode"
                           placeholder=""
                           value="<%= sale.clientPostalCode %>"
                           required>
                    <label for="clientPostalCode">Zip</label>
                    <div class="invalid-feedback">
                      Please enter a valid postal code (no dashes)
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Row 4 -->
          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-5">
                  <div class="form-floating"
                       id="datetimepicker">

                    <input type="text"
                           class="form-control"
                           id="checkPayableTo"
                           name="checkPayableTo"
                           placeholder=""
                           value="<%= sale.checkPayableTo %>"
                           required>
                    <label for="checkPayableTo">Check Payable To</label>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating">

                    <input type="date"
                           class="form-control"
                           id="paymentDueDate"
                           name="paymentDueDate"
                           placeholder=""
                           value="<%= sale.paymentDueDate %>"
                           required>
                    <label for="paymentDueDate">Payment Due Date</label>
                    <span class="glyphicon glyphicon-calendar"></span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <%- include ('partials/dropdown', {
                        options: salesPersonArray.map(m=> {
                          return {
                            name: m.salesperson_name,
                            value: m.salesperson_id
                          }
                        }),
                      name: "salesPerson",
                      label: "Sales person",
                      value: sale.salesPerson
                      })
                  -%>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 5 -->
          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-4">
                  <div class="form-floating">

                    <input type="number"
                           class="form-control"
                           id="hoursStagingBudget"
                           name="hoursStagingBudget"
                           placeholder=""
                           value="<%= sale.hoursStagingBudget
                            ? sale.hoursStagingBudget
                            : 0 %>"
                           required>
                    <label for="hoursStagingBudget">
                      Hours Staging Budget
                    </label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="hoursEstateSaleBudget"
                           name="hoursEstateSaleBudget"
                           placeholder=""
                           value="<%= sale.hoursEstateSaleBudget %>"
                           required>
                    <label for="hoursEstateSaleBudget">
                      Hours Estate Sale Budget
                    </label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="grossSalesBudget"
                           name="grossSalesBudget"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.grossSalesBudget %>"
                           required>
                    <label for="grossSalesBudget">Gross Sales Budget</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Row 6 -->
          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="minimumBase"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           name="minimumBase"
                           placeholder=""
                           value="<%= sale.minimumBase %>"
                           required>
                    <label for="minimumBase">Minimum Base</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="minimumActual"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           name="minimumActual"
                           placeholder=""
                           value="<%= sale.minimumActual %>"
                           required>
                    <label for="minimumActual">Minimum Actual</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="minimumDiscount"
                           name="minimumDiscount"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.minimumDiscount %>"
                           required>
                    <label for="minimumDiscount">Minimum Discount</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SALE SETUP (SECTION 2 OF 4) -->
        <div class="card-body p-5 text-center"
             style="background-color: #285880;">
          <div class="row">
            <div class="col-lg-12 py-1">
              <h4 class="input-section"
                  id="sale-setup">Sale Setup</h4>
              <div class="row g-2">

                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="hoursStagingActual"
                           name="hoursStagingActual"
                           placeholder=""
                           value="<%= sale.hoursStagingActual %>">
                    <label for="hoursStagingActual">
                      Hours Staging Actual
                    </label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="hoursEstateSaleActual"
                           name="hoursEstateSaleActual"
                           placeholder=""
                           value="<%= sale.hoursEstateSaleActual %>">
                    <label for="hoursEstateSaleActual">
                      Hours Estate Sale Actual
                    </label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="grossSalesActualClover"
                           name="grossSalesActualClover"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.grossSalesActualClover %>">
                    <label for="grossSalesActualClover">
                      Gross Sales Actual Clover
                    </label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-2">
                  <%- include ('partials/dropdown', {
                        options: cashierArray.map(m=> {
                          return {
                            name: m.cashier_name,
                            value: m.cashier_id
                          }
                      }),
                      name: "cashier",
                      label: "Cashier",
                      value: sale.cashier
                      })
                  -%>
                </div>
                <div class="col-lg-2">
                  <%- include ('partials/dropdown', {
                        options:
                          openingDayArray.map(m=> {
                            return {
                              name: m.opening_day,
                              value: m.opening_day_id
                            }
                      }),
                      name: "openingDay",
                      label: "Opening Day",
                      value: sale.openingDay
                    })
                  -%>
                </div>
                <div class="col-lg-2">
                  <%- include ('partials/dropdown', {
                        options: posIdArray.map(m=> {
                          return {
                            name: m.pos_id,
                            value: m.pos_id_id
                          }
                      }),
                      name: "posId",
                      label: "POS ID",
                      value: sale.posId
                    })
                  -%>
                </div>
                <div class="col-lg-2">
                  <%- include ('partials/dropdown', {
                        options: trailerNumberArray.map(m=> {
                          return {
                            name: m.trailer_number,
                            value: m.trailer_number_id
                          }
                      }),
                      name: "trailerNumber",
                      label: "Trailer #",
                      value: sale.trailerNumber
                      })
                  -%>
                </div>
                <div class="col-lg-2">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="adView"
                           name="adView"
                           placeholder=""
                           value="<%= sale.adView %>">
                    <label for="adView">Ad View</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="emailsSent"
                           name="emailsSent"
                           placeholder=""
                           value="<%= sale.emailsSent %>">
                    <label for="emailsSent">Emails Sent</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SALE RESULTS (SECTION 3 OF 4) -->
        <div class="card-body p-5 text-center"
             style="background-color: #00bdb0;">
          <div class="row">
            <div class="col-lg-12 py-1">
              <h4 class="input-section"
                  id="sale-setup">Sale Results</h4>
              <div class="row g-2">
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="transactionsOpeningDay"
                           name="transactionsOpeningDay"
                           placeholder=""
                           value="<%= sale.transactionsOpeningDay %>">
                    <label for="transactionsOpeningDay">Transactions Opening
                      Day</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="transactions8To10"
                           name="transactions8To10"
                           placeholder=""
                           value="<%= sale.transactions8To10 %>">
                    <label for="transactions8To10">Transactions 8 to
                      10</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="transactionTotal"
                           name="transactionTotal"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.transactionTotal %>">
                    <label for="transactionTotal">Transaction Total</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">

                <!-- Row 2 of SALE RESULTS -->
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="grossSalesOpeningDay"
                           name="grossSalesOpeningDay"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.grossSalesOpeningDay %>">
                    <label for="grossSalesOpeningDay">Gross Sales Opening
                      Day</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="grossSales8To10"
                           name="grossSales8To10"
                           placeholder=""
                           value="<%= sale.grossSales8To10 %>">
                    <label for="grossSales8To10">Gross Sales 8 to 10</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="floatingInputGrid"
                           name="grossSalesCreditDebit"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.grossSalesCreditDebit %>">
                    <label for="grossSalesCreditDebit">Gross Sales
                      Credit/Debit</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="grossSalesCash"
                           name="grossSalesCash"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.grossSalesCash %>">
                    <label for="floatingInputGrid">Gross Sales Cash</label>
                    <div class="invalid-feedback"
                         id="invalid-feedback-gross-sales-cash">
                      Please enter a value
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 py-1">
              <div class="row g-2">
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="commissionRate"
                           maxlength="2"
                           name="commissionRate"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.commissionRate %>">
                    <label for="commissionRate">Commission Rate</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating">
                    <input type="text"
                           class="form-control"
                           id="taxesFees"
                           name="taxesFees"
                           placeholder=""
                           value="<%= sale.taxesFees %>">
                    <label for="taxesFees">Taxes Fees</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- POST SALE (SECTION 4 OF 4) -->
        <div class="card-body p-5 text-center"
             style="background-color: #285880;">
          <div class="row">
            <div class="col-lg-12 py-1">
              <h4 class="input-section"
                  id="sale-setup">Post Sale</h4>
              <div class="row g-2">
                <div class="col-lg-3 col-md-6">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="disposalFee"
                           name="disposalFee"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.disposalFee %>">
                    <label for="disposalFee">Disposal Fee</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="disposalLoadCount"
                           name="disposalLoadCount"
                           placeholder=""
                           value="<%= sale.disposalLoadCount %>">
                    <label for="disposalLoadCount">Disposal Load Count</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="disposalVendorCost"
                           name="disposalVendorCost"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.disposalVendorCost %>">
                    <label for="disposalVendorCost">Disposal Vendor
                      Cost</label>
                    <div class="invalid-feedback">
                      Please enter a value
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="additionalDonationLoanCost"
                           name="additionalDonationLoanCost"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.additionalDonationLoanCost %>">
                    <label for="additionalDonationLoanCost">
                      Add'l Donation Loan Cost
                    </label>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="form-floating">
                    <input type="number"
                           class="form-control"
                           id="floatingInputGrid"
                           name="courtesyDiscount"
                           value="<%= sale.courtesyDiscount %>"
                           onchange="setTwoNumberDecimal(this)"
                           min="0"
                           step="any"
                           placeholder=""
                           value="<%= sale.courtesyDiscount %>">
                    <label for="courtesyDiscount">Courtesy Discount</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block"
                type="button">Save and Next</button>

      </div>
    </form>
  </div>
</div>

<script type="module">
  import {
    setupEditSale,
    setupNewSale
  } from '/js/sale-form.js';

  document.addEventListener('DOMContentLoaded', () => {
    const saleId = <%- sale._id ? '"' + sale._id + '"' : "undefined" %>;
    if (saleId) {
      setupEditSale(saleId);
    } else {
      setupNewSale();
    }
  });
</script>

<%- include('partials/footer') -%>
